<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/boostrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/boostrap/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/boostrap/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/assets/fonts/Ubuntu/Ubuntu-Regular.woff">
    <title>Introduction</title>
</head>
<body>
   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text" style="font-size: 55px; margin-top:25%; color: #3e4450;">Elegant and creative solutions</h1>
            <h3 class="text " style="font-family: 'Raleway', sans-serif; color: #858ea1;">Lorem ipsum W dolor sit amet consectetur adipisicing elit. Dicta sunt architecto aperiam tempora corporis maiores! </h3>
            <a href="{% url 'owner:login' %}" class="btn w-25 mt-4 p-2 m-1"><h5 class="text text-light card-title">Kirish</h5></a>
            <a href="" class="btn  w-30 mt-4 p-2 m-1"><h5 class="text text-light card-title">Ro'yxatdan o'tish</h5></a>
        </div>
        <div class="col-md-6">
          <img src="/static/assets/images/hero-img.png" class="img-fluid animated" alt="">
            
        </div>
    </div>
   </div>
</body>
<style>
    .btn{
        background: linear-gradient(to right,rgb(28, 221, 111) , rgb(93, 206, 146) , rgb(31, 223, 114)  );
    }
    .btn:hover{
        background: rgba(1, 109, 241, 0.835);
    }
</style>
</html>