<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <!-- <img src="/static/assets/images/logo.svg"> -->
                </div>
                <!-- <h4>Hello! let's get started</h4> -->
                <h4 class="font-weight-light">Telefon raqamingizga 6 xonali kod yuborildi uni kiriting !</h4>
                <form class="pt-3" method="post">
                  {% if messages %}
                      {% for message in messages %}
                      <p class="card-title text-danger mb-3">{{ message}}</p>
                      {% endfor %}
                  {% else %}
                  {% endif %}
                  
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" name="ver_code" id="exampleInputEmail1" required placeholder="Tasdiqlash kodi ..">
                  </div>
                
                  <div class="mt-3">
                    <button type="submit" class="btn btn-block btn-gradient-success btn-lg font-weight-medium auth-form-btn" >Yuborish</button>
                  </div>
               
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <!-- endinject -->
  </body>
</html>